<div class="container-fluid"> 
<form [formGroup]="formGroup">
<input type="hidden" formControlName="id">
<div class="form-group">
<label for="exampleInputEmail1">candidate</label>
<select formControlName="candidate" class="form-control"  placeholder="Enter candidate">
<option *ngFor="let op of Candidates">{{op.id}}</option></select></div>
<div class="form-group">
<label for="exampleInputEmail1">location</label>
<select formControlName="location" class="form-control"  placeholder="Enter location">
<option *ngFor="let op of Locations">{{op.id}}</option></select></div>
<div class="form-group">
<label for="exampleInputEmail1">time</label>
<input type="text" formControlName="time" class="form-control"  placeholder="Enter time">
</div>
<div class="form-group">
<label for="exampleInputEmail1">level</label>
<select formControlName="level" class="form-control"  placeholder="Enter level">
<option *ngFor="let op of InteviewLevels">{{op.id}}</option></select></div>
 <button type="submit" class="btn btn-primary" (click)="save()">Submit</button> &nbsp;&nbsp;
 <button type="submit" class="btn btn-primary" (click)="getAll()">GET ALL</button> &nbsp;&nbsp;
 <button type="submit" class="btn btn-primary" (click)="clear()">CLEAR</button> &nbsp;&nbsp;
 <button type="submit" class="btn btn-primary" (click)="delete()">DELETE</button> &nbsp;&nbsp;
</form>
<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">#</th>
<th scope="col">id</th>
<th scope="col">candidate</th>
<th scope="col">location</th>
<th scope="col">time</th>
<th scope="col">level</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let s of elements; index as i"   (click)="getById(s.id)">
<th scope="row">{{i}}</th>
<td>{{s.id}}</td>
<td>{{s.candidate}}</td>
<td>{{s.location}}</td>
<td>{{s.time}}</td>
<td>{{s.level}}</td>
</tr>
</tbody>
</table>
</div> 
