<div class="container-fluid"> 
<form [formGroup]="formGroup">
<input type="hidden" formControlName="id">
<div class="form-group">
<label for="exampleInputEmail1">candidate</label>
<select formControlName="candidate" class="form-control"  placeholder="Enter candidate">
<option *ngFor="let op of Candidates">{{op.id}}</option></select></div>
<div class="form-group">
<label for="exampleInputEmail1">propos</label>
<select formControlName="propos" class="form-control"  placeholder="Enter propos">
<option *ngFor="let op of Positions">{{op.id}}</option></select></div>
<div class="form-group">
<label for="exampleInputEmail1">prosal</label>
<input type="text" formControlName="prosal" class="form-control"  placeholder="Enter prosal">
</div>
<div class="form-group">
<label for="exampleInputEmail1">expsal</label>
<input type="text" formControlName="expsal" class="form-control"  placeholder="Enter expsal">
</div>
 <button type="submit" class="btn btn-primary" (click)="save()">Submit</button> &nbsp;&nbsp;
 <button type="submit" class="btn btn-primary" (click)="getAll()">GET ALL</button> &nbsp;&nbsp;
 <button type="submit" class="btn btn-primary" (click)="clear()">CLEAR</button> &nbsp;&nbsp;
 <button type="submit" class="btn btn-primary" (click)="delete()">DELETE</button> &nbsp;&nbsp;
</form>
<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">#</th>
<th scope="col">id</th>
<th scope="col">candidate</th>
<th scope="col">propos</th>
<th scope="col">prosal</th>
<th scope="col">expsal</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let s of elements; index as i"   (click)="getById(s.id)">
<th scope="row">{{i}}</th>
<td>{{s.id}}</td>
<td>{{s.candidate}}</td>
<td>{{s.propos}}</td>
<td>{{s.prosal}}</td>
<td>{{s.expsal}}</td>
</tr>
</tbody>
</table>
</div> 
